body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #fafafa;
  min-height: 100vh;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .App, #root {
    padding: 0;
  }
}
